{
  "port": 8888,
  "mongo": {
    "uri": "mongodb://localhost:27017",
    "db": "aldb"
  },
  "cos": {
    "bucket": "",
    "region": "",
    "secretID": "",
    "secretKey": "",
    "baseURL": "",
    "pathPrefix": "aldb"
  },
  "log": {
    "level": "info",
    "filename": "app.log",
    "maxsize": 200,
    "max_age": 7,
    "max_backups": 10
  }
}